---
import { about } from "../../data";
import {
  StyledHeading,
  ListSideProjects,
  Main as MainLayout,
} from "../../components";
---

<MainLayout title={`Side Projects | ${about.name}`}>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <StyledHeading
      heading={{ part1: "Side", part2: "Projects." }}
      description="Welcome to my side projects, where I dive into creative endeavors that expand my skills and push the boundaries of what's possible. These projects highlight my passion for innovative problem-solving and showcase the breadth of my technical capabilities."
    />

    {(<ListSideProjects />)}
  </section>
</MainLayout>
