---
import ImageTile from "./image-tile.astro";

interface Props {
  src: string;
  alt: string;
  gradient: string;
  className?: string;
  noBorder?: boolean;
  outline?: boolean;
}

const { src, alt, className, gradient } = Astro.props;
---

<div class:list={["w-full", className]}>
  <ImageTile
    alt={alt}
    image={src}
    width={1920}
    height={1080}
    gradient={gradient}
    coverSize="w-full"
    tiltDirection="right"
  />

  {
    Astro.slots.has("default") && (
      <figcaption class="text-center text-xs mt-4 text-neutral-500 dark:text-neutral-400 italic">
        <slot />
      </figcaption>
    )
  }
</div>
