---
import Layout from "../../components/layout/main.astro";
import StyledHeading from "../../components/ui/styled-heading.astro";
import JoinDispatch from "../../components/sections/join-dispatch.astro";
import GroupedPosts from "../../components/shared/grouped-posts.astro";

const description =
  "A stream of consciousness regarding systems architecture, high-end interface design, and the intersection of engineering and editorial aesthetics.";
---

<Layout title="Ink & Insight | Tayyab Asghar">
  <div class="max-w-5xl mx-auto px-6 py-20 lg:px-0 lg:py-24">
    <StyledHeading
      description={description}
      heading={{ part1: "Ink &", part2: "Insight." }}
    />

    <div class="flex flex-col gap-24">
      <GroupedPosts />
    </div>

    <JoinDispatch />
  </div>
</Layout>
