---
import { about } from "../../data";
import {
  GroupedPosts,
  JoinDispatch,
  StyledHeading,
  Main as MainLayout,
} from "../../components";

const description =
  "A stream of consciousness regarding systems architecture, high-end interface design, and the intersection of engineering and editorial aesthetics.";
---

<MainLayout description={description} title={`Ink & Insight | ${about.name}`}>
  <div class="max-w-5xl mx-auto px-6 py-20 lg:px-0 lg:py-24">
    <StyledHeading
      description={description}
      heading={{ part1: "Ink &", part2: "Insight." }}
    />

    <div class="flex flex-col gap-24">
      <GroupedPosts />
    </div>

    <JoinDispatch />
  </div>
</MainLayout>
