---
const projects = [
  {
    title: "BMW Customer Journey",
    category: "Shopping",
    className: "",
    users: [
      "https://images.unsplash.com/photo-1531123897727-8f129e1688ce?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1494790108377-be9c29b29330?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1552374196-c4e7ffc6e126?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1546525848-3ce03ca516f6?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1544005313-94ddf0286df2?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
    ],
  },
  {
    title: "LexCheck",
    category: "Legal Team",
    className: "",
    users: [
      "https://images.unsplash.com/photo-1517841905240-472988babdf9?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1534528741775-53994a69daeb?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1502685104226-ee32379fefbe?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
    ],
  },
  {
    title: "Ensemble",
    category: "Development",
    className: "hidden sm:block lg:hidden xl:block",
    users: [
      "https://images.unsplash.com/photo-1546525848-3ce03ca516f6?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1502685104226-ee32379fefbe?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1494790108377-be9c29b29330?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
      "https://images.unsplash.com/photo-1534528741775-53994a69daeb?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80",
    ],
  },
];
---

<div
  id="widget-projects"
  class="relative my-auto overflow-hidden rounded-xl border border-neutral-200 bg-white shadow-lg shadow-neutral-200/70 xl:mt-18 dark:border-neutral-800 dark:bg-neutral-900 dark:shadow-black/40"
>
  <section>
    <header
      class="space-y-4 rounded-t-xl p-4 sm:px-8 sm:py-6 lg:p-4 xl:px-8 xl:py-6"
    >
      <div class="flex items-center justify-between">
        <h2 class="font-semibold text-neutral-900 dark:text-neutral-100">
          Projects
        </h2>
        <div
          class="group flex cursor-pointer items-center rounded-md bg-neutral-900 py-2 pl-2 pr-3 text-sm font-medium text-neutral-100 shadow-sm transition hover:bg-neutral-700 dark:bg-neutral-100 dark:text-neutral-900 dark:hover:bg-neutral-300"
        >
          <svg width="20" height="20" fill="currentColor" class="mr-2">
            <path
              d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z"
            >
            </path>
          </svg>New
        </div>
      </div>

      <div class="group relative rounded-md bg-neutral-50 dark:bg-neutral-800">
        <svg
          width="20"
          height="20"
          fill="currentColor"
          class="pointer-events-none absolute left-3 top-1/2 -mt-2.5 text-neutral-400 group-focus-within:text-neutral-700 dark:text-neutral-500 dark:group-focus-within:text-neutral-300"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          >
          </path>
        </svg>
        <input
          type="text"
          aria-label="Filter projects"
          placeholder="Filter projects..."
          class="w-full appearance-none rounded-md bg-transparent py-2 pl-10 text-sm leading-6 text-neutral-900 placeholder:text-neutral-400 ring-1 ring-neutral-200 shadow-sm focus:outline-none focus:ring-2 focus:ring-neutral-500 dark:text-neutral-100 dark:placeholder:text-neutral-500 dark:ring-neutral-700 dark:focus:ring-neutral-500"
        />
      </div>
    </header>

    <ul
      class="grid grid-cols-1 gap-4 bg-neutral-50 p-4 text-sm leading-6 sm:grid-cols-2 sm:px-8 sm:pb-8 sm:pt-6 lg:grid-cols-1 lg:p-4 xl:grid-cols-2 xl:px-8 xl:pb-8 xl:pt-6 dark:bg-neutral-900/70"
    >
      {
        projects.map((project) => (
          <li
            class:list={[
              "group cursor-pointer rounded-md bg-white p-3 ring-1 ring-neutral-200 shadow-sm transition hover:-translate-y-0.5 hover:bg-neutral-900 hover:ring-neutral-900 hover:shadow-md dark:bg-neutral-800 dark:ring-neutral-700 dark:hover:bg-neutral-100 dark:hover:ring-neutral-100",
              project.className,
            ]}
          >
            <dl class="grid grid-cols-2 grid-rows-2 items-center sm:block lg:grid xl:block">
              <div>
                <dt class="sr-only">Title</dt>
                <dd class="font-semibold text-neutral-900 transition group-hover:text-neutral-100 dark:text-neutral-100 dark:group-hover:text-neutral-900">
                  {project.title}
                </dd>
              </div>
              <div>
                <dt class="sr-only">Category</dt>
                <dd class="text-neutral-600 transition group-hover:text-neutral-300 dark:text-neutral-300 dark:group-hover:text-neutral-700">
                  {project.category}
                </dd>
              </div>
              <div class="col-start-2 row-start-1 row-end-3 sm:mt-4 lg:mt-0 xl:mt-4">
                <dt class="sr-only">Users</dt>
                <dd class="-space-x-1.5 flex justify-end sm:justify-start lg:justify-end xl:justify-start">
                  {project.users.map((user) => (
                    <img
                      src={user}
                      alt=""
                      class="h-6 w-6 rounded-full bg-neutral-100 ring-2 ring-white transition dark:bg-neutral-700 dark:ring-neutral-900 dark:group-hover:ring-neutral-100"
                      loading="lazy"
                      decoding="async"
                    />
                  ))}
                </dd>
              </div>
            </dl>
          </li>
        ))
      }

      <li class="flex">
        <div
          class="group flex w-full cursor-pointer flex-col items-center justify-center rounded-md border-2 border-dashed border-neutral-300 py-3 text-sm font-medium leading-6 text-neutral-900 transition hover:border-neutral-500 hover:bg-white hover:text-neutral-700 dark:border-neutral-700 dark:text-neutral-100 dark:hover:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-neutral-200"
        >
          <svg
            width="20"
            height="20"
            fill="currentColor"
            class="mb-1 text-neutral-400 transition group-hover:text-neutral-600 dark:group-hover:text-neutral-300"
          >
            <path
              d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z"
            >
            </path>
          </svg>New project
        </div>
      </li>
    </ul>
  </section>
</div>
