---
import "../../assets/css/main.css";
import Footer from "./footer.astro";
import Header from "./header.astro";
import { SquareLines } from "../backgrounds";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="p:domain_verify" content="70c58a6597b091ed1aa21054f3800753" />
    <title>{title}</title>
    <ClientRouter />

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline data-astro-rerun>
      if (typeof Storage !== "undefined") {
        const isDarkMode =
          localStorage.getItem("dark_mode") &&
          localStorage.getItem("dark_mode") == "true";

        if (isDarkMode) document.documentElement.classList.add("dark");
      }
    </script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-FE1RECDFFZ"></script>

    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());

      gtag("config", "G-FE1RECDFFZ");
    </script>

    <link rel="icon" type="image/x-icon" href="../../assets/images/logo.svg" />

    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>

  <body
    class="relative min-h-screen flex flex-col antialiased overflow-x-hidden bg-white dark:bg-neutral-950"
  >
    <SquareLines />

    <Header />

    <div class="relative flex-1 flex flex-col">
      <main>
        <slot />
      </main>

      <SquareLines bottom />
    </div>

    <Footer />

    <script src="../../assets/js/main.js"></script>

    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
