---

---

<li class="os-hub-li z-10! pointer-events-none">
  <div
    class="os-hub pointer-events-auto cursor-default transition-all duration-300 hover:scale-105"
    id="os-hub"
  >
    <div class="os-hub-glow" id="os-hub-glow"></div>
    <div class="os-hub-core" id="os-hub-core">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" id="hub-svg">
        <path
          d="M12 2L2 7l10 5 10-5-10-5z"
          class="fill-[#6366f1] stroke-none"
          id="hub-default-path"></path>
        <path
          d="M2 17l10 5 10-5M2 12l10 5 10-5"
          class="stroke-[#6366f1] stroke-[1.5] fill-none"
          stroke="currentColor"
          id="hub-default-extra"></path>
        <g id="hub-dynamic-icon" class="hidden"></g>
      </svg>
      <span class="os-hub-name text-xs" id="hub-name">Fullstack</span>
    </div>
  </div>
</li>
