---
import { SectionHeader } from "../ui";
import { testimonials } from "../../data";
import { TestimonialTile } from "../shared";
import type { TestimonialType } from "../../types/data-types";

interface Props {
  className?: string;
}

const columns: TestimonialType[][] = [[], []];

testimonials.forEach((testimonial, index) => {
  columns[index % columns.length].push(testimonial);
});
---

<section id="testimonials" class="px-7 lg:px-0">
  <SectionHeader
    heading="Testimonials"
    subheading="Here's what some of the experienced people who work in the industry have to say about working with me. Their experiences showcase the value and quality I bring to every project and team."
  />
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-9 items-start">
    {
      columns.map((column: typeof testimonials, columnIndex: number) => (
        <div data-key={columnIndex} class="grid gap-7">
          {column.map((testimonial) => (
            <TestimonialTile testimonial={testimonial} />
          ))}
        </div>
      ))
    }
  </div>
</section>
