---
import { ListPosts } from "../shared";
import { LinkButton, SectionHeader } from "../ui";
---

<section id="writings" class="px-7 lg:px-0">
  <SectionHeader
    heading="Ink & Insight"
    subheading="A look into my thoughts on technology, design, and software engineering. Updated regularly with fresh insights."
  />

  <div class="w-full mx-auto xl:px-0">
    <div class="flex flex-col items-center pb-7">
      <ListPosts count={3} />
    </div>
  </div>

  <div class="flex items-center justify-center w-full mt-12">
    <LinkButton text="View All Writings" link="/blog" />
  </div>
</section>
