---
import Square from "./square.astro";
---

<div
  class="relative flex w-full divide-x h-7.5 sm:h-11.25 md:h-15 xl:h-22 divide-neutral-300 dark:divide-neutral-700 divide-dashed"
>
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
</div>
