---
import SquareLine from "./square-line.astro";

interface Props {
  count?: number;
  bottom?: boolean;
}

const { bottom = false, count = 6 } = Astro.props;
const rows = Array.from({ length: count });
---

<div
  class={`absolute w-full h-auto z-[-1] ${bottom ? "bottom-0 rotate-180" : "top-0"}`}
>
  <div
    class="absolute top-0 left-0 w-1/2 h-auto bg-neutral-100 dark:bg-neutral-800"
  >
    <div
      class="absolute inset-0 z-30 w-full h-full pointer-events-none bg-linear-to-tl from-white dark:from-neutral-950 from-50% via-90% to-100% via-transparent to-transparent"
    >
    </div>
    <div
      class="flex flex-col w-full h-full border-t border-l border-dashed divide-y divide-dashed divide-neutral-300 dark:divide-neutral-700 border-neutral-300 dark:border-neutral-700"
    >
      {rows.map(() => <SquareLine />)}
    </div>
  </div>

  <div
    class="absolute top-0 right-0 w-1/2 h-auto bg-neutral-100 dark:bg-neutral-800"
  >
    <div
      class="absolute inset-0 z-30 w-full h-full pointer-events-none bg-linear-to-tr from-white dark:from-neutral-950 from-50% via-90% to-100% via-transparent to-transparent"
    >
    </div>
    <div
      class="flex flex-col w-full h-full border-t border-l border-dashed divide-y divide-dashed divide-neutral-300 dark:divide-neutral-700 border-neutral-300 dark:border-neutral-700"
    >
      {rows.map(() => <SquareLine />)}
    </div>
  </div>
</div>
