---
import Layout from "../components/layout/main.astro";
import Writings from "../components/sections/writings.astro";
import HeroSection from "../components/sections/hero-section.astro";
import Testimonials from "../components/sections/testimonials.astro";
import Technologies from "../components/sections/technologies.astro";
import PortfolioGrid from "../components/projects/portfolio-grid.astro";
// import SideProjectsGrid from "../components/projects/side-projects-grid.astro";
---

<Layout title="Tayyab Asghar">
  <div
    class="max-w-6xl mx-auto grid grid-cols-1 auto-rows-max gap-28 py-20 lg:py-24"
  >
    <div class="animate-on-scroll reveal">
      <HeroSection />
    </div>

    <div class="animate-on-scroll reveal">
      <Technologies />
    </div>

    <div class="animate-on-scroll reveal">
      <PortfolioGrid count={3} />
    </div>

    <!-- <div class="animate-on-scroll reveal">
      <SideProjectsGrid count={3} />
    </div> -->

    <div class="animate-on-scroll reveal">
      <Testimonials />
    </div>

    <div class="animate-on-scroll reveal">
      <Writings />
    </div>
  </div>

  <script src="../assets/js/animate-on-scroll.js"></script>
</Layout>
