---
import Layout from "../components/layout/main.astro";
import Writings from "../components/sections/writings.astro";
import HeroSection from "../components/sections/hero-section.astro";
import Testimonials from "../components/sections/testimonials.astro";
import Technologies from "../components/sections/technologies.astro";
import PortfolioGrid from "../components/projects/portfolio-grid.astro";
// import SideProjectsGrid from "../components/projects/side-projects-grid.astro";
---

<Layout title="Tayyab Asghar">
  <div class="grid grid-cols-1 auto-rows-max gap-28 mb-28">
    <HeroSection />

    <Technologies />

    <PortfolioGrid count={6} />

    <!-- <SideProjectsGrid count={3} /> -->

    <Testimonials />

    <Writings />
  </div>
</Layout>
