---
import { Picture } from "astro:assets";

const { image, height, width, alt, coverSize, styles, gradient } = Astro.props;

const hoverStyle = "group-hover:scale-95";
const transitionStyle = "transition-all duration-700 ease-out";
const baseStyle = "scale-90 top-3 relative object-cover w-full";
---

<div
  class="block w-full object-cover overflow-hidden rounded-xl"
  class:list={[coverSize, gradient]}
>
  <Picture
    src={image}
    formats={["avif", "webp", "jpg"]}
    alt={alt}
    width={width}
    height={height}
    class:list={[baseStyle, transitionStyle, hoverStyle, coverSize, styles]}
  />
</div>
