---
import LinkButton from "./link-button.astro";

interface Props {
  primary?: string;
  secondary?: string;
  iconPrimary?: string;
  iconSecondary?: string;
}

const { primary, secondary, iconPrimary, iconSecondary } = Astro.props;
---

<div class="flex items-center gap-2 mb-12">
  {
    primary ? (
      <LinkButton
        link={primary}
        target="_blank"
        text="Live Preview"
        class="!mt-[-1rem]"
        iconRight={iconPrimary ?? "open-in-new"}
      />
    ) : null
  }
  {
    secondary ? (
      <LinkButton
        text="GitHub Code"
        link={secondary}
        target="_blank"
        iconRight={iconSecondary ?? "github"}
        class="btn btn-secondary !mt-[-1rem]"
      />
    ) : null
  }
</div>
