---
import Stack from "./stack.astro";
import stacks from "../data/stacks.json";
import SectionHeader from "./section-header.astro";
---

<section id="portfolio" class="max-w-4xl mx-auto px-7 lg:px-0">
  <SectionHeader
    heading="Technologies"
    subheading="These are the tools, frameworks, and technologies that I have worked with, each playing a key role in bringing ideas to life."
  />
  <div class="grid items-stretch w-full gap-7 pb-7">
    <Stack
      heading="Frontend"
      className="text-xl font-semibold tracking-tight text-neutral-900 dark:text-neutral-100"
      list={[
        stacks.Next,
        stacks.React,
        stacks.Redux,
        stacks.Angular,
        stacks.RxJs,
        stacks.Electron,
        stacks.JS,
        stacks.TS,
        stacks.Html,
        stacks.CSS,
        stacks.Sass,
        stacks.AntDesign,
        stacks.AntV,
        stacks.MUI,
        stacks.Kendo,
        stacks.Shadcn,
        stacks.Tailwindcss,
        stacks.ReactQuery,
      ]}
    />
    <Stack
      heading="Backend"
      className="text-xl font-semibold tracking-tight text-neutral-900 dark:text-neutral-100"
      list={[
        stacks.Node,
        stacks.Express,
        stacks.Postman,
        stacks.Swagger,
        stacks.Mongoose,
      ]}
    />
    <Stack
      heading="Databases"
      className="text-xl font-semibold tracking-tight text-neutral-900 dark:text-neutral-100"
      list={[stacks.Sql, stacks.MongoDB, stacks.Firebase]}
    />
    <Stack
      heading="Services"
      className="text-xl font-semibold tracking-tight text-neutral-900 dark:text-neutral-100"
      list={[
        stacks.Clerk,
        stacks.JWT,
        stacks.Vercel,
        stacks.Render,
        stacks.Heroku,
        stacks.Cloudinary,
      ]}
    />
    <Stack
      heading="Tools"
      className="text-xl font-semibold tracking-tight text-neutral-900 dark:text-neutral-100"
      list={[
        stacks.Webpack,
        stacks.Git,
        stacks.GitHub,
        stacks.GitHubActions,
        stacks.Bitbucket,
        stacks.AzureDevOps,
        stacks.Figma,
        stacks.VSCode,
        stacks.ESlint,
        stacks.Prettier,
        stacks.SonarQube,
        stacks.NPM,
      ]}
    />
    <Stack
      heading="AI Tools"
      className="text-xl font-semibold tracking-tight text-neutral-900 dark:text-neutral-100"
      list={[stacks.GPT, stacks.V0]}
    />
    <Stack
      heading=" Project Management/Methodologies"
      className="text-xl font-semibold tracking-tight text-neutral-900 dark:text-neutral-100"
      list={[
        stacks.Jira,
        stacks.Scrum,
        stacks.AzureBoards,
        stacks.GitHubBoards,
        stacks.Slack,
        stacks.Discord,
      ]}
    />
    <Stack
      heading="Testing"
      className="text-xl font-semibold tracking-tight text-neutral-900 dark:text-neutral-100"
      list={[stacks.Jest, stacks.Storybook, stacks.NUnit]}
    />
  </div>
</section>
