---
import LinkButton from "./link-button.astro";

interface Props {
  primary?: string;
  secondary?: string;
  iconPrimary?: string;
  iconSecondary?: string;
}

const { primary, secondary, iconPrimary, iconSecondary } = Astro.props;
---

<div class="flex items-center gap-2 mb-12">
  {
    !!primary && (
      <LinkButton
        link={primary}
        target="_blank"
        class="!-mt-4"
        text="Live Preview"
        iconRight={iconPrimary ?? "open-in-new"}
      />
    )
  }

  {
    !!secondary && (
      <LinkButton
        class="!-mt-4"
        target="_blank"
        link={secondary}
        text="GitHub Code"
        variant="secondary"
        iconRight={iconSecondary ?? "github"}
      />
    )
  }
</div>
