---
import logoSvg from "../../assets/images/logo.svg?raw";
---

<a
  href="/"
  class="text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <div
    class="w-6 h-6 transition-transform group-hover:transform-[rotate(360deg)] ease-in-out duration-800 fill-current overflow-visible"
  >
    <Fragment set:html={logoSvg} />
  </div>

  <span class="-translate-y-0.5">Tayyab</span>
</a>
